<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page A : Off Canvas RWD Layout</title>
  
  <!-- Stylesheet -->
  <link rel="stylesheet" href="style.css">  
  <!-- Scripts -->
  <script defer src="script.js"></script>
  
</head>
<body>
  
  
<!-- Import Navigation -->
{% include "nav.njk" %}

<main>
	<a href="#" class="toggle-nav">
  	<img src="assets/menu.svg"> Menu
  </a>
  
  <article>
    
    <h1>Russian Blue</h1>
    
    <img src="assets/russian_blue_small.jpeg"
         srcset="assets/russian_blue_large.jpeg 2x"
         alt="Russian Blue Cat">
  
  </article>
  {% include "footer.njk" %}
</main>
  
  
</body>
</html>






